scalarm_client_csharp.userprefs
examples/
packages/
scalarm_client_csharp_app/bin/
scalarm_client_csharp_app/config.json
scalarm_client_csharp_app/obj/
scalarm_client_csharp/bin/
scalarm_client_csharp/obj/
scalarm_client_csharp/scalarm_client_csharp.pidb
scalarm_client_csharp_tests/bin/
scalarm_client_csharp_tests/obj/
scalarm_client_csharp_tests/scalarm_client_csharp_tests.pidb
scalarm_client_csharp_tests/test-results
test-results/
.DS_Store
.nuget/NuGet.Config
.nuget/NuGet.targets
*.exe
scalarm_client_csharp_tests/example_scenario/input_definition.json
scalarm_client_csharp_tests/example_scenario/bin.zip
*.py

# monitor project
scalarm_client_csharp_monitor/bin/
scalarm_client_csharp_monitor/obj/

# ignore tests as a whole
scalarm_client_csharp_tests/
scalarm_client_csharp_monitor/TextFile1.txt
scalarm_client_csharp_monitor/TextFile1.txt
*.txt